# Configurações do Banco de Dados (MySQL no RDS)
# Se deixadas vazias, os scripts tentarão ler os Outputs do Terraform do Assignment 1 automaticamente.
# DB_HOST=rds_endpoint_address
DB_PORT=3306
DB_NAME=classicmodels
DB_USER=admin
DB_PASSWORD=ClassicModels123!
