allowed_cidr                    = ""
aws_region                      = "us-east-1"
bucket_name                     = ""
create_eventbridge_role         = false
create_glue_role                = false
db_engine_version               = null
db_identifier                   = "classicmodels-task2-db"
db_name                         = "classicmodels"
db_password                     = "change-me"
db_port                         = 3306
db_username                     = "admin"
enable_eventbridge_target       = false
eventbridge_schedule_expression = "cron(0 12 ? * MON *)"
existing_eventbridge_role_arn   = ""
existing_glue_role_arn          = ""
existing_glue_role_name         = "LabRole"
glue_connection_name            = "classicmodels-rds-connection"
glue_database_name              = "classicmodels_analytics"
glue_job_name                   = "classicmodels-etl-job"
glue_script_key                 = "glue/etl_job.py"
project_prefix                  = "g2-sillas-task2"
